<library path="src">
  <class name="{{class_name}}"
         type="{{rqt_gui_template}}.{{rqt_gui_template}}.{{class_name}}"
         base_class_type="rqt_gui_py::Plugin">
    <description>
      {{description}}
    </description>
    <qtgui>
      <group>
        <label>{{category}}</label>
        <icon type="theme">folder</icon>
        <statustip>status tip text.</statustip>
      </group>
      <label>{{rqt_gui_template}}</label>
      <icon type="theme">applications-other</icon>
      <statustip>status tip text 2.</statustip>
    </qtgui>
  </class>
</library>

