<library path="src">
  <class name="RqtGUITemplate" type="rqt_gui_template.rqt_gui_template.RqtGUITemplate" base_class_type="rqt_gui_py::Plugin">
    <description>
      rqt gui to TODO.
    </description>
    <qtgui>
      <group>
        <label>Robot</label>
        <icon type="theme">folder</icon>
        <statustip>status tip text.</statustip>
      </group>
      <label>rqt_gui_template!</label>
      <icon type="theme">applications-other</icon>
      <statustip>status tip text 2.</statustip>
    </qtgui>
  </class>
</library>
